.projects-wrapper {
    margin-bottom: 11%;
}

.projects {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 0;
}
.project {
    align-self: center;
    height: 60%;
    width: 25%;
    padding: 1%;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;  
  text-decoration: none;

}

.view {
    width: 12%;
    margin: 45% 0% 0% 2%;
    font-size: 1rem;
    text-align: center;
    padding: 1%;
    transition: ease-in .5s;
    color: black;

}

.view:hover {
    font-size: 1.2rem;
    transition: ease-out .5s;
    width: 13%;
}


.p1 {
    height: 50vh;
    background-color: aquamarine;
    background-image: url("../../images/d-bells.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    transition: ease-in-out 0.3s;
}

.p2{
    height: 50vh;
    background-color: aquamarine;
    background-image: url("../../images/platform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.p3{
    height: 50vh;
    background-color: aquamarine;
<<<<<<< HEAD
    background-image: url("../../images/cg-site.PNG");
=======
    background-image: url("../../images/deads.jpg");
>>>>>>> b45235a8e47e2ec402ee105f069e10ae22d2da5f
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.p1:hover {
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.p2:hover {
    opacity: 1;
    transition: ease-in-out 0.3s;
   
}
.p3:hover {
    opacity: 1;
    transition: ease-in-out 0.3s;  
}