.nav-wrapper {
    margin: 2em auto;
	padding: 0;
	list-style: none;
    height: 10%;
    width: 100%;
}

.nav{
    display: flex;
	height: 80px;
	margin: 0 5px;
	background: black;
	text-align: center;
	line-height: 80px;
	opacity: 0;
    animation: fadeIn 1s ease-in both;
    font-family: 'Cormorant Garamond', serif;
}

.about {
    animation-delay: 1.5s;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 30%;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-left: 10%;
}

.mail {
    width: 35px;
    height: 35px;
    background-color: white;
    background-image: url("../../images/outlook.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.twitter{
    width: 35px;
    height: 35px;
    background-color: white;
    background-image: url("../../images/twitter.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.linkedin{
    width: 35px;
    height: 35px;
    background-color: white;
    background-image: url("../../images/linkedin.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.github{
    width: 35px;
    height: 35px;
    background-color: white;
    background-image: url("../../images/github.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}