.contact-me-wrapper {

}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 50%;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.first-last {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-around;
    align-items: center;
    width: 54%;
    height: 50px;
}

.email-phone {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-around;
    align-items: center;
    width: 54%;
    height: 50px;
}

.message-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 54%;
    height: 120px;
}

.contact-message {
    resize: none;
}

/* All Contact Me inputs */
.contact-input {
    outline: none;

}


