.about-wrapper {
  color: black;
  text-align: left;
  font-size: 1.3rem;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
  margin-left: 75px;
}

.middle-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
}

.middle-title {
  font-size: 2.8rem;
  font-family: "Roboto Slab", serif;
}

.middle-para {
  font-size: 1.3rem;
}
