.about-wrapper {
    height: 50%;
    border: 1px solid blue;
    color: black;
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

.intro-title {
border: 1px solid red;
font-size: 3.8rem;
font-family: 'Roboto Slab', serif;
}

.about-content {
    /* border: 1px solid red; */
    width: 35%;

}


.project-wrapper {
    border: 1px solid red;
}

