.footer-wrapper {
    background-color: #333333;
    color: #fff;
  
    line-height: 2;
    padding: 20px;
    height: 145px;
  
    h3 {
      font-size: 2rem;
      border-bottom: 1px solid #888;
      @include bp(mid) {
        border: none;
      }
    }
  
    p {
      font-size: 1.4rem;
    }
  
    .contact-us {
      display: flex;
      flex-direction: column;
  
      @include bp(mid) {
        justify-content: center;
        align-items: center;
      }
      p {
        @include bp(mid) {
          align-self: center;
        }
      }
    }
  
    .customer-service {
      display: flex;
      flex-direction: column;
  
      h3 {
        @include bp(mid) {
          display: none;
        }
      }
  
      p {
        @include bp(mid) {
          align-self: center;
        }
      }
  
      & > p > a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
      }
  
      // Instagram Icon Wrapper is the <a></a> below
      .instagram-icon {
        width: 22px;
        height: 22px;
        @include bp(mid) {
          align-self: center;
        }
        & > svg {
          text-decoration: none;
          font-size: 14px;
          color: #fff;
          width: 20px;
          height: 20px;
        }
      }
    }
  
    .copy-rights {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 100;
      padding-top: 20px;
    }
  }