.input-field {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  
    .input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    //   align-items: center;
  
      label {
        align-self: flex-start;
        font-size: 1.6rem;
        font-weight: 600;
        padding-bottom: 5px;
        color: #353339;
      }
      
      & > input {
        font-size: 1.4rem;
        padding: 10px;
        background-color: $cloudwhite;
        border: none;
      }
    }
  
    .input-error {
      color: red;
    }
  }