// Styles for ContactUsPageContainer.tsx
.contact-page {
    background-color: $skyblue;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 85vh;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
    
    .header-wrapper {
        width: 80%;
    p {
      font-size: 2.3rem;
      line-height: 2.8rem;
      font-style: italic;
      color: #555;
      font-weight: bold;
       padding: 20px;
    }}
  }
  
  // Styles for ContactForm.tsx
  .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
  
    text-align: right;
  
    // Styles for the Input component
    .input-field {
        margin-bottom: 1rem; // Form Label Styling
        padding: 10px;
    }
    
    .form-btn {
      align-self: center;
      background-color: #f2f2ed;
      border: none;

      font-size: 2rem;
      font-weight: bold;
      color: #181A18;
      text-align: center;
      text-decoration: none;
      margin-top: 2rem;
      border-radius: 290486px;
      padding-left: calc(1em + 0.25em);
      padding-right: calc(1em + 0.25em);
      padding-top: 8px;
      padding-bottom: 8px;
      transition: all 0.85s ease-in;


      &:hover {
      background-color: $skyblue;
      border: 2px solid $cloudwhite;
      transition: all 0.5 ease-in-out;
    }

    }
  }